<style>
        h1 {
          font-family: sans-serif;
            font-size: 65px;
            color:rgb(238, 15, 15);
            text-align: center;
            
          
            
        }
        p {
          font-size: 3em;
          font-weight:600;
          font-style:italic;
          text-decoration: underline;
          
        }
       .styleex{
           background-color:yellowgreen
           font-style: italic;
           line-height: 400%;
       }body{
         font-size: 15px;
         background-color: grey;
       }
       .amare{
         background-color: rgb(248, 248, 11);
       }
       .verme{
         background-color: red;
       }
       .maron{ background-color: rgb(49, 15, 15);

       }
        }
    </style>