.super-mario {
    position: absolute;
    width: 200px;
    left: 400px;
    top: 300px
  }
  
  .goomba {
    position: absolute;
    width: 100px;
    left: 450px;
    top: 600px;
  }
  
  .baloon {
      position: absolute;
      left: 600px;
      top: 300px;
      z-index: 1;
  
  }
  
  .speach {position: absolute;
    font-size: 25px;
    left: 615px;
    top: 350px;
    z-index: 2;
  }
  
  .bowser {position: absolute;
    left: 800px;
    top: 500px;

    width: 200px;
  }