
    .tytletipe {
        font-size: 45px;
        color: rgb(10, 7, 7);
        text-align: center
        
        
    }
    #foto{
        border: solid 2px yellow;
        position: absolute;
        text-align: center;
        border-radius: 50%;
        height: 300px;
        width: 270px;
        z-index: 2 ;
        left: 25px;
        top:220px;
    }
    #fotoams{
    width: 1832px;
    height: 500px;
    }    
    }#landing{
        text-align: center; Submit
        width: 1000px;
        height: 2000px;
    }
    #aboutme{
        height: 330px;
        border: solid 2px ;
        text-align:left;
        background-color:rgb(184, 179, 179)}
        .rede{ 
            font-size: 19px;
            display: inline-block;
            vertical-align: top;
            margin: 0 0.5%;
            border: 2px solid rgb(100, 84, 11);
            border-radius: 10px;
            width: 21%;
            height: 200px;
            padding: 0px 20px;
            
            text-align: justify;}
     .soft{font-size: 19px;
         display: inline-block;
        vertical-align: top;
        margin: 0 0.5%;
        border: 2px solid rgb(100, 84, 11);
        border-radius: 10px;
        width: 21%;
        height: 200px;
        padding: 0px 20px;
        
        text-align: justify;
    }
    .hard{font-size: 19px;
     display: inline-block;
    vertical-align: top;
    margin: 0 0.5%;
    border: 2px solid rgb(100, 84, 11);
    border-radius: 10px;
    width: 21%;
    height: 200px;
    padding: 0px 20px;
    
    text-align: justify;
    }
    .idiomas{font-size: 19px;
    display: inline-block;
    vertical-align: top;
    margin: 0 0.5%;
    border: 2px solid rgb(100, 84, 11);
    border-radius: 10px;
    width: 21%;
    height: 200px;
    padding: 0px 20px;
    
    text-align: justify;
    }


    #likes{height: 500px;
        border: solid 2px ;
        text-align:left;
        background-color: rgb(100, 84, 11)}

    
    }
    h2{
        font-size: 30px;
        color: rgb(51, 19, 44);
        text-align: center;
        background-color:rgb(197, 194, 197);
    }
    h4{
        font-size: 25px;
    }
    p{
        position: absolute;
        font:italic;
        font-size: 25px;
        z-index: 3;
        color: yellow;
        left: 320px;
        top: 252px
    }
    button{
        color: rgb(248, 242, 248);
        background-color: rgb(116, 48, 8);
        font-size: 20px;
        border: solid 1px yellow;
        border-radius: 5px;
        font-style: oblique;
    }
    button:hover{
        background-color: rgb(129, 85, 82);
        cursor: pointer;
    }
    h4{
        text-align: center;
    }
    ul{
        list-style-type:none;
    }
    .on{
        text-decoration: none;
        color: black;
        font-style: italic;
        font-size: 20px;
    }.on:hover{color: rgb(48, 45, 45);

    }nav{ 
        position:fixed
    }
  

    
   
    
     body{
        margin: 0px;
        background-color:rgb(100, 84, 11);
        font-family: sans-serif
        
    }
        
    