
      h1 {
        text-align: center;
      }
      section{
          height: 150px;
      }

      .first {display: inline-block;
        background-color: rgb(235, 200, 84);
        font-size: 20px;
        height: 50px;
        text-align: center;
        width: 200px;
        left: 820px;
        position: absolute;
      }

      .second { display: inline-block;
        background-color: rgb(219, 219, 219);
        font-size: 20px;
        height: 50px;
        text-align: center;
        width: 300px;
        position: absolute;
        left: 650px;
        top: 130px
      }

      .third {display: inline-block;
        background-color: rgb(170, 142, 106);
        font-size: 20px;
        height: 50px;
        text-align: center;
        width: 300px;
        position: absolute;
        left: 920px;
        top: 130px;
      }
      h3{
          text-align: center;}
          li{
            display: inline-block;
          }
      .award{
        display: inline-block;
        margin-left: 570px;
      }

        
      
        
  
    
        
      